#felso
{
	margin-top: 30px;
}

.kozep
{
	text-align: center;
}

.kepfelirat
{
	font-style: italic;
	text-align: center;
}

.galeriakep
{
	height: 300px;
	margin: auto;
	display: block;
}

body {
	background-color: #f7eddc;
}

#tortenet {
	font-weight: bold;
}

